<%
locals.OLSKPageTitle = OLSKLocalized('SNPVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('SNPVitrineDescription');
locals.OLSKPageManifest = OLSKCanonical('SNPManifestRoute');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<div class="SNPVitrine OLSKDecor OLSKDecorCapped OLSKDecorNoTopPad">	

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: '/_shared/SNPRootLink/ui-assets/identity.svg',
	OLSKCrownCardNameText: OLSKLocalized('SNPVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('SNPVitrineDescription'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKLocalized('OLSKWordingOpenApp'),
	OLSKLandingActionHref: OLSKCanonicalLocalized('SNPCodeRoute'),
}) %>

<div class="OLSKCommonVideoList">
	<p class="SNPVitrineVideo OLSKCommonVideoListItem">
		<iframe src="<%= process.env.SNP_VITRINE_VIDEO_URL %>" allowfullscreen></iframe>
	</p>
</div>

<h1 class="SNPVitrineFeaturesHeading"><%= OLSKLocalized('OLSKWordingFeatures') %></h1>

<%- include('../../node_modules/OLSKAppFeatureList/main.ejs', {
	OLSKAppFeatureListRepoURL: process.env.OLSK_REPO_URL,
}).replace(/node_modules/g, '_shared/__external') %>

<a class="SNPVitrineGuideButton OLSKDecorPress OLSKDecorPressCall" href="<%= OLSKCanonical('SNPGuideRoute') %>"><%= OLSKLocalized('OLSKWordingOpenGuide') %></a>

<h1 class="SNPVitrineDeeperHeading"><%= OLSKLocalized('OLSKWordingDeeperHeading') %></h1>

<dl class="SNPVitrineGlossary OLSKDecorGlossary">
	<%- include('../../node_modules/ROCOGlossary/main.ejs') %>
</dl>

<%- include('../../node_modules/ROCOGazette/main.ejs', {
	_OLSKModulesDirPrefix: '../.',
	ROCOBulletinProject: process.env.ROCO_SHARED_PROJECT_ID,
}) %>

<%- include('../../node_modules/OLSKEdit/main.ejs', {
	OLSKEditURL: process.env.OLSK_REPO_URL,
}) %>

<h1 class="SNPVitrineSupportHeading"><%= OLSKLocalized('OLSKWordingFeedbackHeading') %></h1>
<p class="SNPVitrineSupportBlurb"><%= OLSKLocalized('OLSKWordingFeedbackBlurb') %></p>

<hr role="presentation" />

<%- include('../../node_modules/SWARLink/main.ejs') %>

<hr role="presentation" />

<%- include('../../node_modules/ROCORootLink/main.ejs') %>

</div>
